@()

@template(title="Products") {
<div data-ng-controller="ProductsCtrl">
    <h1>Products {{curDate}}</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Details</th>
            <th>Added date</th>
            <th>Expiration Term</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="product in products | orderBy:product.creationDate"
            data-ng-class="{error:{{product.expirationTerm | olderThanToday:0}},warning:!{{product.expirationTerm | olderThanToday:0}} && {{product.expirationTerm | olderThanToday:daysBeforeWarn}}}">
            <td>{{product.name}}</td>
            <td>{{product.details}}</td>
            <td>{{product.creationDate | date:'dd/MM/yyyy'}}</td>
            <td>{{product.expirationTerm | date:'dd/MM/yyyy'}}</td>
            <td>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a class="btn" data-ng-click="editProduct(product)" href="#"><i class="icon-edit"></i></a>
                        <a class="btn btn-danger" data-ng-click="deleteProduct(product)" href="#"><i class="icon-remove"></i></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
}